# This is a sample of all the environment variables used by this repo
# Copy this file and rename it ".env.development"

# Basic (set SEND_EMAIL to true for daily report to work and set a dummy private key)
SEND_EMAIL=""
DUMMY_PRIVATE_KEY=""

# Wallets to track (each address separated by a comma)
TRACKING_PERSONAL_WALLET=""
TRACKING_OTHERS_WALLET=""

# Public Mainet RPC Urls
RPC_ETHEREUM=""
RPC_POLYGON=""
RPC_BINANCE=""
RPC_OPTIMISM=""
RPC_AVALANCHE=""
RPC_ARBITRUM=""
RPC_CHRONOS=""
RPC_FANTOM=""
RPC_KLAYTN=""
RPC_KAVA=""

# Testnet RPC Urls
RPC_ROPSTEIN=""
RPC_RINKEBY=""
RPC_GOERLI=""
RPC_KOVAN=""
RPC_MUMBAI=""
RPC_BINANCE_TESTNET=""
RPC_OPTIMISM_TESTNET=""
RPC_OPTIMISM_GOERLI=""

# List of ERC20 tokens to be track per chains (for each wallets)
# Public Mainnet
TRACKING_TOKENS_ETHEREUM=""
TRACKING_TOKENS_POLYGON=""
TRACKING_TOKENS_BINANCE=""
TRACKING_TOKENS_OPTIMISM=""
TRACKING_TOKENS_AVALANCHE=""
TRACKING_TOKENS_ARBITRUM=""
TRACKING_TOKENS_CHRONOS=""
TRACKING_TOKENS_FANTOM=""
TRACKING_TOKENS_KLAYTN=""
TRACKING_TOKENS_KAVA=""

# Public Testnet
TRACKING_TOKENS_ROPSTEIN=""
TRACKING_TOKENS_RINKEBY=""
TRACKING_TOKENS_GOERLI=""
TRACKING_TOKENS_KOVAN=""
TRACKING_TOKENS_MUMBAI=""
TRACKING_TOKENS_BINANCE_TESTNET=""
TRACKING_TOKENS_OPTIMISM_TESTNET=""
TRACKING_TOKENS_OPTIMISM_GOERLI=""

# Extra for GitHub Action (these need to be set as github secrets)
MAIL_CONNECTION=""
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_SEND_TO=""
MAIL_SEND_FROM=""